<header>
  <nav>
    <div id="banniere" class="d-flex aling-items-center">

      <a href="/"><img src="/artisan.png" alt=""></a>


        <ul class="ml-0">
          <li><a routerLink="/list/Bâtiment">Bâtiment</a></li>
          <li><a routerLink="/list/Services">Services</a></li>
          <li><a routerLink="/list/Fabrication">Fabrication</a></li>
          <li><a routerLink="/list/Alimentation">Alimentation</a></li>
        </ul>

        <a routerLink="/">
          <form (input)="onSearchInput(searchInput.value)">
            <input type="text" #searchInput placeholder="Rechercher un artisan">
          </form>
        </a>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>