<header>
  <nav>
    <div id="banniere">

      <a routerLink="/"><img src="/artisan.png" alt=""></a>

      <ul>
        <li><a routerLink="/list/Bâtiment">Bâtiment</a></li>
        <li><a routerLink="/list/Services">Services</a></li>
        <li><a routerLink="/list/Fabrication">Fabrication</a></li>
        <li><a routerLink="/list/Alimentation">Alimentation</a></li>
      </ul>

      <form action="">
        <label for="Recherche">Recherche</label>           
        <input type="text" id="search" name="search">
      </form>
      
    </div>
  </nav>
</header>
<router-outlet></router-outlet>