#banniere{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2em;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}
header{
    box-shadow: 0px 5px 0.5em grey;
    height: 7em;
    width: 100%;
}
@media screen and (max-width: 900px) {
    #banniere{
        display: flex;
        flex-direction: column;
    }
    header{
        box-shadow: 0px 5px 0.5em grey;
        height: 12em;

    }
  }