
<footer>
    <div>
        <address>
            101 Cours Charlemagne - CS 20033 <br>
            69269 LYON CEDEX 02 <br>
            France <br>
            <a href="tel:+33426734000" target="_blank">+33(0)4 26 73 40 00</a>
        </address>
    </div>

    <div>
        <ul>
            <li><a href="">Mentions Légales</a></li>
            <li><a href="">Données personnelles</a></li>
            <li><a href="">Accessibilité</a></li>
            <li><a href="">Cookies</a></li>
        </ul>
    </div>

    <div id="socials">
        <a href="https://www.facebook.com/RegionAuvergneRhoneAlpes" target="_blank"><img src="/facebook.png" alt="Facebook Rhone Alpes" id="socialPic"></a>
        <a href="https://www.linkedin.com/company/auvergne-rhone-alpes/" target="_blank"><img src="/linkedin.png" alt="linkedin Rhone Alpes" id="socialPic"></a>
        <a href="https://www.youtube.com/c/regionauvergnerhonealpes" target="_blank"><img src="/youtube.png" alt="youtube Rhone Alpes" id="socialPic"></a>
        <a href="https://www.instagram.com/region_auvergnerhonealpes" target="_blank"><img src="/instagram.png" alt="instagram Rhone Alpes" id="socialPic"></a>
        <a href="https://x.com/auvergnerhalpes" target="_blank"><img src="/x.png" alt="x Rhone Alpes" id="socialPic"></a>
    </div>
</footer>