
<div *ngIf="artisan">
    <h2>FICHE ARTISAN</h2>
        <ul>
            <li>
                <div>
                    <h3>{{artisan.name}}</h3>
                    <p>{{artisan.note}}</p>
                    <p>{{artisan.specialty}}</p>
                    <p>{{artisan.location}}</p>
                    <p>{{artisan.about}}</p>
                    <a href="{{artisan.website}}" target="_blank">{{artisan.website}}</a>
                    <form action="">
                        <input type="text">
                        <button>Envoyer</button>
                    </form>
                </div>
            </li>
        </ul>
</div>
