<main class="d-flex flex-column align-items-center">
    <h2>L'artisan sélectionné</h2>
    <div *ngIf="artisan" id="ficheArtisan">
        <ul>
            <li>
                <div id="fiche">
                    <h3>{{artisan.name}}</h3>
                    <p>{{artisan.note}}</p>
                    <p>{{artisan.specialty}}</p>
                    <p>{{artisan.location}}</p>
                    <p>{{artisan.about}}</p>
                    <a href="{{artisan.website}}" target="_blank">{{artisan.website}}</a>
                    <form class="w-100 m-0 p-0">
                        <ul class="d-flex flex-column justify-content-end">
                            <h4 class="d-flex  justify-content-center">Nous contacter</h4>
                            <li class="d-flex flex-row-reverse" id="listItems">
                                <input type="text" id="nom" name="votre nom" required/>
                                <label for="nom">Nom:</label>
                            </li>
                            <li class="d-flex flex-row-reverse" id="listItems">
                                <input type="email" id="email" name="votre email" required/>
                                <label for="mail">votre e-mail:</label>
                            </li>
                            <li class="d-flex flex-row-reverse" id="listItems">
                                <input id="object" name="object" required>
                                <label for="object">Objet:</label>
                            </li>
                            <li class="d-flex flex-row-reverse" id="listItems">
                                <textarea id="message" name="message" required></textarea>
                                <label for="msg">Message:</label>
                            </li>
                            <li class="d-flex flex-row-reverse" id="listItems">
                                <button type="submit">Envoyer</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</main>
