<main>
    <div>
        <h1>Comment trouver mon Artisan</h1>
        <ul>
            <li>Choisir la catégorie d'artisant dans le menu</li>
            <li>Choisir un artisan</li>
            <li>Le contacter via le formualire de contact</li>
            <li>Uné réponse vous sera apportée sous 48h</li>
        </ul>
    </div>
    <h2>Nos artisans du mois!</h2>
    <div *ngFor="let artisan of artisans"  class="d-flex p-2">        
        <ul  *ngIf="artisan.top">
            <li class="border">
                <a [routerLink]="['/fiche-artisan', artisan.id]">
                    <p><strong>{{artisan.name}}</strong></p>
                    <p>Note: {{artisan.note}}</p>
                    <p>Spécialité: {{artisan.specialty}}</p>
                    <p>Ville: {{artisan.location}}</p>
                </a>
            </li>
        </ul>
    </div>
    <aside *ngIf="artisanSelected">
        <h3>Détails de l'artisan</h3>
        <p>Nom : {{ artisanSelected.name }}</p>
        <p>Spécialité : {{ artisanSelected.specialty }}</p>
        <p>Note : {{ artisanSelected.note }}</p>
        <p>Localisation : {{ artisanSelected.location }}</p>
    </aside>
</main>