#fiche{
    min-width: fit-content;
    width: 20em;
    height: 10em;
}
ul {
    list-style: none;
    margin: 10px;
}
#ficheList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #82b864;
    border-radius: 5px;
    background-color: #f1f8fc;
    margin: 1em 0;
    justify-content: space-between;
}
#carte{
    flex:1;
    justify-content: center;
    gap:1em;
    min-height: 16em;
}
@media screen and (max-width: 1200px) {
    #carte{
        flex:1;
        align-items: center;
        flex-direction: column;
        gap:0;
    }
    #ficheList{
        width: 90%;
    }
}

#note{
    width: 10em;
}