#fiche{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: fit-content;
    width: 20em;
    height: 17em;
    border: 1px solid #82b864;
    border-radius: 5px;
    background-color: #f1f8fc;
    margin: 1em;
    padding: 1em;
}
h2{
    color: #0074C7 ;
}
#carte{
    display: flex;
    justify-content: center;
    width: 100%;
}
#ficheList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}
#notes{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
.popup-message {
    position:fixed;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeIn 0.5s ease, fadeOut 3s ease 2.5s;
    max-width: fit-content;
    padding: 1em; /* Ajoutez un peu de remplissage pour un meilleur style */
    border-radius: 5px; /* Rendez les coins légèrement arrondis */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre pour le style */
}

@media screen and (max-width: 1050px) {
    #fiche{
        display: flex;
        flex-direction: column;
        border: 1px solid #82b864;
        border-radius: 5px;
        background-color: #f1f8fc;
    }
    #ficheList {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    #carte {
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .popup-message {
        top: 100px;
    }
}