<main>
    <div>
        <h1>Comment trouver mon Artisan</h1>
        <ul>
            <li>Choisir la catégorie d'artisant dans le menu</li>
            <li>Choisir un artisan</li>
            <li>Le contacter via le formualire de contact</li>
            <li>Uné réponse vous sera apportée sous 48h</li>
        </ul>
    </div>
    <h2>Nos artisans du mois!</h2>
    <div *ngFor="let artisan of artisans">        
        <ul  *ngIf="artisan.top">
            <li >
                <a [routerLink]="['/fiche-artisan', artisan.id]">
                    <h3>{{artisan.name}}</h3>
                    <p>Note: {{artisan.note}}</p>
                    <p>Spécialité: {{artisan.specialty}}</p>
                    <p>Ville: {{artisan.location}}</p>
                </a>
            </li>
        </ul>
    </div>
</main>